/* src/CommonComponents/Home/HomeSlider.css */
.slider-item {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
}
html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.ftco-section {
	padding: 7em 0;
	position: relative;
}



.counter-box {
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.counter-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.counter-icon {
  margin-bottom: 10px;
}
